.nav-container{
    width: 100%;
    height: 60px;
    background: #5E95CC;
    text-align: center;

}

.logo{
    font-size: 24px;
    margin: 14px 10px;
    float: left;
    cursor: pointer;
}

.nav-btn{
    margin: 18px 50px;
    float: right;
    cursor: pointer;
    color: #BB4040;
}