<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login to application</h1>
    <form method="post" th:object="${user}">

        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}"/>

        <br/>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}"/>

        <br/>
        <button type="submit">Login</button>

    </form>
</body>
</html>